<div *ngIf="displayType === 'Chart'" class="pl-0 pr-2 pt-2 pb-2">
    <div [chart]="chart" style="height: 375px;"></div>
</div>

<div *ngIf="displayType === 'Table'">
    <div *ngFor='let group of valueGroups'>
        <table class="table table-striped m-0">
            <tr *ngIf="valueGroups.length > 1">
                <th colspan="2">
                    {{group.name}}
                </th>
            </tr>
            <tr *ngFor='let item of group.dataValues'>
                <td class="icon-text">
                    <i class="far fa-calendar-alt"></i>
                    <span>{{item.date | date:'dd/LL/yyyy'}}</span>
                </td>
                <td>
                    <span>{{item.value | number:'1.1-2'}}kg</span>
                </td>
            </tr>
        </table>
    </div>
</div>