<div class="card" *ngIf='exercise'>
    <div class="card-header icon-text">
            <i class="fas fa-dumbbell"></i>
        {{pageTitle}}: {{exercise.name}}
    </div>
    <div class="card-body p-2">
        <form>
            <input [(ngModel)]='exercise.id' type="hidden" name="id" />
            <div class="row form-group">
                <div class="col-12">
                    <label for="Name" class="control-label">Name</label>
                    <input [(ngModel)]='exercise.name' type="text" name="Name" class="form-control" />
                </div>
            </div>
            <div class="row form-group">
                <div class="col-12">
                    <label for="MinReps" class="control-label">Minimum Reps</label>
                    <input [(ngModel)]='exercise.minReps' type="number" name="MinReps" class="form-control" />
                </div>
            </div>
            <div class="row form-group">
                <div class="col-12">
                    <label for="MaxReps" class="control-label">Maximum Reps</label>
                    <input [(ngModel)]='exercise.maxReps' type="number" name="MaxReps" class="form-control" />
                </div>
            </div>
            <div class="row form-group">
                <div class="col-12">
                    <label for="Sets" class="control-label">Number of Sets</label>
                    <input [(ngModel)]='exercise.sets' type="number" name="Sets" class="form-control" />
                </div>
            </div>
            <div class="row form-group">
                <div class="col-12">
                    <label for="minWeight" class="control-label">Minimum Weight</label>
                    <input [(ngModel)]='exercise.minWeight' type="number" name="minWeight" class="form-control" />
                </div>
            </div>
            <div class="row form-group">
                <div class="col-12">
                    <label for="MinIncrement" class="control-label">Minimum Weight Increment</label>
                    <input [(ngModel)]='exercise.minIncrement' type="number" name="MinIncrement" class="form-control" />
                </div>
            </div>
            <div class="row form-group">
                <div class="col-12">
                    <label for="frequency" class="control-label">Frequency</label>
                    <select [(ngModel)]='exercise.frequency' name="frequency" class="form-control">
                        <option *ngFor='let opt of frequencyOptions' value={{opt.value}}>{{opt.text}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <button class="btn btn-secondary btn-sm btn-block"
                            data-toggle="modal" 
                            data-target="#backConfirmationModal">
                        <i class="fas fa-caret-left"></i>
                        Back
                    </button>
                </div>
                <div class="col-6">
                    <button class="btn btn-primary btn-sm btn-block"
                        (click)='onSave()'>
                        <i class="fas fa-save"></i>
                        Save
                    </button>   
                </div>
            </div>
        </form>
    </div>
</div>

<gym-back-confirmation navigateTo="/settings"></gym-back-confirmation>
