
<div class="table">
  
  <div class="table-row table-row-center" *ngIf="set.done">
    <div class="table-cell" style="width: 30%;">
        <span>{{set.reps}}</span>
    </div>
    <div class="table-cell" style="width: 30%;">
      *
    </div>
    <div class="table-cell" style="width: 30%;">
      <span>{{set.weight}}kg</span>
    </div>
    <div class="table-cell">
      <button *ngIf='!exerciseFinished' class="btn btn-sm btn-secondary square"
          (click)='set.markNotDone()'>
        <i class="fas fa-edit"></i>
      </button>
    </div>
  </div>
  
  <div class="table-row table-row-center" *ngIf="!set.done">
    <div class="table-cell">
        <gym-num [value]='set.reps' [stepSize]='1'></gym-num>
      </div>
    <div class="table-cell" style="width: 1px;">
      *
    </div>
    <div class="table-cell">
      <gym-num [value]='set.weight' [stepSize]='stepSize'></gym-num>
    </div>
    <div class="table-cell" style="width: 1px;">
      <button class="btn btn-sm btn-success square"
              (click)='set.markDone()'>
        <i class="fas fa-check"></i>
      </button>
    </div>
  </div>
</div>







