<nav class="navbar navbar-expand navbar-light bg-light">
  <ul class="nav nav-pills">
    <li>
      <a class="nav-link" [routerLink]="['/sessions']">
        <i class="far fa-calendar-alt"></i>
      </a>
    </li>
    <li>
      <a class="nav-link" [routerLink]="['/charts']">
        <i class="fas fa-chart-line"></i>
      </a>
    </li>
    <li>
      <a class="nav-link" [routerLink]="['/weight']">
        <i class="fas fa-weight"></i>
      </a>
    </li>
    <li>
      <a class="nav-link" [routerLink]="['/settings']">
        <i class="fas fa-cog"></i>
      </a>
    </li>
  </ul>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>