<div class="card full-screen">
  <div class="card-header">
    <table>
      <tr>
        <td class="min-width pr-1">
          <input type="text" class="form-control date" [(ngModel)]="newEntryDateAsString" (blur)="changeNewEntryDate()">
        </td>
        <td>
          <div class="input-group">
            <div class="input-group-prepend">
              <button class="btn btn-sm"
                  (click)='decreaseNewWeight()'>-</button>
            </div>
            <input disabled value='{{newEntryWeightAsString}}' type="text" class="form-control">
            <div class="input-group-append">
              <button class="btn btn-sm"
                      (click)='increaseNewWeight()'>+</button>
            </div>
          </div>
        </td>
        <td class="min-width pl-1">
          <button class="btn btn-success"
              (click)="saveNewEntry()">
            <i class="fas fa-check"></i>
          </button>
        </td>
      </tr>
    </table>
  </div>
  <div class="card-body">
    <gym-chart [title]='"Weight (kg)"' [valueGroups]='dataValues' [displayType]='displayType' ></gym-chart>
  </div>
  <div class="card-footer">
    <div class="btn-group" role="group" style="width: 100%;">
        <button type="button"
                class="btn btn-primary" 
                style="width: 50%;"
                (click)="onChangeDisplayType('Chart')"> 
          <gym-caption text='Chart' [icon]='Icon.Chart'></gym-caption>
        </button>
        <button type="button"
                class="btn btn-primary" 
                style="width: 50%;"
                (click)="onChangeDisplayType('Table')"> 
            <gym-caption text='Table' [icon]='Icon.Table'></gym-caption>
        </button>
    </div>
  </div>
</div>