<div class="p-2">
  <form>
    <div class="row">
      <div class="col-12">
        <label class="control-label">Username:</label>
        <input class="form-control" type="text" name='username' [(ngModel)]='username' />
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <label class="control-label">Password:</label>
        <input class="form-control" type="password" name='password' [(ngModel)]='password' (keyup.enter)='submit()' />
      </div>
    </div>
    <button type="button" (click)='submit()' class="btn btn-success btn-block">
      <gym-caption text='Log In' [icon]='Icon.LogIn'></gym-caption>
    </button>
  </form>
  <p style="color:red;">{{error}}</p>
</div>