<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body p-0">
        <div *ngIf='!list || !list.length' class="p-3">
            <p>No exercises added yet.</p>
        </div>
        <div *ngIf='list && list.length'>
            <div class="table">
                <div class="table-row" *ngFor='let item of list'>
                    <div class="table-cell icon-text">
                        <i class="fas fa-dumbbell"></i>
                        <span>{{item.name}}</span>
                    </div>
                    <div class="table-cell">
                        <button class="btn btn-sm btn-primary"
                                (click)='edit()'>
                            <i class="fas fa-edit"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>