/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';

body {
  background-color: #e7e7e7;
}

div.card {
  background-color: white;
}

div.card-body {
  padding: 0;
  background-color: white;
}

div.container-fluid {
  margin: 0;
  padding: 0.5rem;
}

div.container-fluid div.row {
  margin: 0;
  padding: 0 0 0.5rem 0;
}

div.container-fluid div.row:last-child {
  padding-bottom: 0;
}

div.container-fluid div.row > div {
  padding: 0 0.5rem 0 0;
}

div.container-fluid div.row > div:last-child {
  padding-right: 0;
}

div.card-body {
  padding: 0;
}

div.table {
  display: table;
  width: 100%;
  margin: 0;
}

div.table-row {
  display: table-row;
  padding: 0;
  padding-bottom: 0.5rem;
  margin: 0;
  vertical-align: middle;
  width: 100%;
}

div.table div.table-row:last-child {
  padding-bottom: 0;
}

div.table-cell {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  padding: 0;
  padding-right: 0.5rem;
}

div.table-cell-min-width {
  width: 1px;
}

.full-width {
  width: 100%;
}

div.table-row div.table-cell:last-child {
  text-align: center;
  padding-right: 0;
}

div.table-row-center div.table-cell {
  text-align: center;
}

.icon-text i {
  margin-right: 0.75rem;
}

div.footer-buttons {
  padding: 0;
  text-align: center;
}

div.footer-buttons button {
  margin: 0.5rem 0.5rem 0.5rem 0;
}

div.footer-buttons button:last-child {
  margin: 0.5rem 0 0.5rem 0;
}

i.fa-times {
  color:#333; 
  font-size: 10px;
}

.bg-warmup0 {
  background-color: #EEE;
}

.bg-warmup1 {
  background-color: #BBB;
}

.bg-warmup2 {
  background-color: #999;
}

.bg-set {
  background-color: #777;
  color: white;
}

.bg-set i {
  color: white;
}

.table {
  margin: 0;
}

.table td {
  padding: 0.5rem;
  vertical-align: middle;
}

.table td.min-width {
  padding: 0.5rem 0;
  width: 1px;
  vertical-align: middle;
}

.btn-primary {
  background-color: indigo;
  border-color: white;
}

.btn-secondary {
  background-color: #777;
  border-color: white;
}

.btn-success {
  background-color: maroon;
  border-color: white;
}